<h2>To Do List</h2>

<p>Filter Tasks by Name</p>
<input type="text" [(ngModel)]="filterText"/>
<button (click)="filterArray(filterText)">Filter ToDos</button>

<ol>
  <li *ngFor="let t of filteredTasks; index as i" [ngClass]="t.Completed ? 'strikeThrough' : '' ">
    <button *ngIf="!t.Completed" (click)="completeTask(i)" >Completed</button>
    {{t.TaskName}}
    <button (click)="removeTask(i)">X</button>
  </li>
</ol>

<br/>
<p>Add New Task</p>
<input [(ngModel)]="newToDo.TaskName" type="text" name="TaskName" id="TaskName" />
<button (click)="addTask()">Add New Task</button>